<nav class="container-nav-bar">
  <div class="container-son-1">
    <div class="container-img-burguer">
      <img id="img-burguer" src="assets/img/Burguer.png" alt="" />
    </div>
    <div class="container-logo-name-cookchef">
      <div class="container-logo">
        <img src="assets/img/Logo-CookChef.png" alt="" />
      </div>
      <h1>COOKCHEF</h1>
    </div>
    <div class="search-bar">
      <div class="actions">
        <button><span class="material-icons">search</span></button>
      </div>
      <input type="text" placeholder="Buscar"/>
    </div>
  </div>
  <div class="container-son-2">
    <div class="container-user">
      <img src="assets/img/Icon-User.png" alt="" />
    </div>
  </div>
</nav>
