<div class="box-main-info">
  <header>
    <nav-bar-component></nav-bar-component>
  </header>
  <div class="box-submain-content-recipe">
    <div class="box-information1-recipe">
      <div class="box-main-part">
        <div class="box-user">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-user-circle"
            width="52"
            height="52"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#000000"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
            <path d="M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
            <path
              d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855"
            />
          </svg>
          <h3>KEVIN JIMMY MORALES PÉREZ</h3>
        </div>
        <div class="box-title">
          <h1>Rollos de ensalada de pollo</h1>
        </div>
      </div>
      <div class="box-main-secundary">
        <div class="box-img">
          <img src="assets/img/Presentation.png" alt="" />
        </div>
        <div class="box-about-recipe">
          <div class="box-information-about">
            <p>
              Si eres amante de la comida tailandesa, entonces no te pierdas
              esta receta de rollos de ensalada de pollo thai, pues están llenos
              de sabor, verdura, proteína y hasta el crunch del cacahuate. Ya lo
              sabes, con estos rollos de ensalada de pollo thai descubrirás los
              sabores más exóticos de Tailandia desde tu cocina. Lorem ipsum
              dolor sit amet consectetur, adipisicing elit. Facilis vero labore
              dignissimos. Culpa harum cumque accusamus quaerat, dolorem
              mollitia molestiae cupiditate, nobis earum eveniet facilis illo
              minima sapiente? Aspernatur, eum!. Lorem, ipsum dolor sit amet
              consectetur adipisicing elit. Molestias, qui magni. Quas, omnis
              doloribus. Magni, nesciunt laboriosam, ab ex amet sint officiis
              omnis fugiat saepe ullam dicta voluptatibus error enim!
            </p>
          </div>
          <div class="box-information-additional">
            <div class="box-time">
              <div class="box-icon">
                <span class="material-icons"> watch_later </span>
              </div>
              <div>
                <p>Tiempo: <span>90</span> min</p>
              </div>
            </div>
            <div class="box-difficult">
              <div class="box-icon">
                <span class="material-icons"> signal_cellular_alt </span>
              </div>
              <div>
                <p>Dificultad: <span>Dificil</span></p>
              </div>
            </div>
            <div class="box-diners">
              <div class="box-icon">
                <span class="material-icons"> group </span>
              </div>
              <div>
                <p>Porciones: <span>20</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="box-information2-recipe">
      <div class="box-ingredients">
        <h2>Ingredientes</h2>
        <ul>
          <li>1/4 tazas de jugo de limón</li>
          <li>1/4 tazas de jugo de limón</li>
          <li>1/4 tazas de jugo de limón</li>
          <li>1/4 tazas de jugo de limón</li>
          <li>1/4 tazas de jugo de limón</li>
        </ul>
      </div>
      <div class="box-process">
        <h2>Preparación</h2>
        <ul>
          <li>
            En un bowl, mezcla la crema de cacahuate, el jugo de limón, el
            jengibre, el ajo, la vinagreta de la Ensalada Soya Limón de Eva® y
            el vinagre de arroz. Reserva.
          </li>
          <li>
            Sazona el pollo con sal y pimienta y cocina en una sartén a fuego
            medio con aceite de ajonjolí por 8 minutos. Agrega la salsa de soya,
            tapa y cocina por 2 minutos más. Corta en tiras delgadas y reserva.
          </li>
          <li>
            Calienta una olla con suficiente aceite a fuego medio, añade los
            fideos de arroz y fríe por 2 minutos. Retira y coloca en un plato
            con papel absorbente. Reserva.
          </li>
          <li>
            Para formar los rollos: coloca una hoja de arroz hidratada sobre una
            tabla, agrega un poco de Ensalada Soya Limón de Eva®, un poco de
            pollo y un poco de fideos de arroz. Cierra y repite hasta terminar
            con el relleno.
          </li>
          <li>
            Para formar los rollos: coloca una hoja de arroz hidratada sobre una
            tabla, agrega un poco de Ensalada Soya Limón de Eva®, un poco de
            pollo y un poco de fideos de arroz. Cierra y repite hasta terminar
            con el relleno.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
