<div class="box-main">
  <header>
    <nav-bar-component></nav-bar-component>
  </header>
  <div class="box-son-information-recipe">
    <div class="receta-container">
      <h1 class="nombre-comida">Nombre de comida</h1>
      <div class="info-receta">
        <img
          src="assets/img/Presentation.png"
          alt="Imagen de comida"
          class="imagen-comida"
        />
        <div class="acerca-de">
          <h2>Acerca de la receta:</h2>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente molestiae minus eos amet quos quod voluptatum ipsum ipsam fugit animi consequuntur ullam, dolorem assumenda iste possimus quas vel? Similique, natus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse ea pariatur laudantium maiores culpa explicabo, voluptate ratione inventore officia ullam, perferendis earum dignissimos quam, quia animi dolor fugiat qui voluptates. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore ea nam autem dolores molestias optio porro! Error, mollitia itaque? Velit distinctio porro pariatur magni, minus optio. Explicabo natus aperiam veritatis.</p>
        </div>
      </div>
      <div class="detalles">
        <div class="box-time">
          <div class="box-icon">
            <span class="material-icons"> watch_later </span>
          </div>
          <div>
            <p>Tiempo:</p>
          </div>
          <input type="text" />
          <p>min</p>
        </div>
        <div class="box-difficult">
          <div class="box-icon">
            <span class="material-icons"> signal_cellular_alt </span>
          </div>
          <div>
            <p>Dificultad:</p>
          </div>
          <select id="option-dificult">
            <option value="Fácil">Fácil</option>
            <option value="Intermedio">Intermedio</option>
            <option value="Difícil">Difícil</option>
          </select>
        </div>
        <div class="box-diners">
          <div class="box-icon">
            <span class="material-icons"> group </span>
          </div>
          <div>
            <p>Porciones:</p>
          </div>
          <input type="text" />
        </div>
      </div>
      <div class="seccion">
        <h3>Ingredientes:</h3>
        <p>Lista de ingredientes...</p>
      </div>
      <div class="seccion">
        <h3>Instrucciones:</h3>
        <p>Lista de instrucciones...</p>
      </div>

      <button type="button">Actualizar</button>
    </div>
  </div>
</div>
