<div class="container-main">
  <header>
    <nav-bar-component></nav-bar-component>
  </header>
  <div class="container-son">
    <div>
      <div class="b-info-main">
        <div class="box-recipe">
          <label>Título de la receta:</label>
          <textarea [(ngModel)]="recipe.name_recipe"></textarea>
        </div>
        <div class="box-recipe">
          <label>Sobre la receta:</label>
          <textarea [(ngModel)]="recipe.description"></textarea>
        </div>      
      </div>
      <div class="box-information-additional">
        <div class="box-time">
          <div class="box-icon">
            <span class="material-icons"> watch_later </span>
          </div>
          <div>
            <p>Tiempo:</p>
          </div>
          <input type="text" [(ngModel)]="recipe.time_duration"/>
          <p>min</p>
        </div>
        <div class="box-difficult">
          <div class="box-icon">
            <span class="material-icons"> signal_cellular_alt </span>
          </div>
          <div>
            <p>Dificultad:</p>
          </div>
          <select [(ngModel)]="recipe.TypeDifficulty.name_type_difficulty" id="option-dificult">
            <option value="Fácil">Fácil</option>
            <option value="Intermedio">Intermedio</option>
            <option value="Difícil">Difícil</option>
          </select>
        </div>
        <div class="box-diners">
          <div class="box-icon">
            <span class="material-icons"> group </span>
          </div>
          <div>
            <p>Porciones:</p>
          </div>
          <input type="text" [(ngModel)]="recipe.number_portion"/>
        </div>
      </div>
      <div class="container-process">
        <div class="box-ingredients">
          <label>Ingredientes:</label>
          <input  *ngFor="let ingredient of recipe.Ingredients" type="text" [(ngModel)]="ingredient.name_ingredient" placeholder="Nombre del ingrediente" />
        </div>
        <div class="box-process">
          <label>Ingredientes:</label>
          <input type="text" [(ngModel)]="recipe.preparation">
        </div>
      </div>
      <div class="box-reload-img">
        <img src="assets/img/Presentation.png" alt="">
      </div>

      <button (click)="updateRecipe()">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-bar-up" width="40" height="40" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M12 4l0 10" />
          <path d="M12 4l4 4" />
          <path d="M12 4l-4 4" />
          <path d="M4 20l16 0" />
        </svg>
        <p>
          Actualizar cambios
        </p>
      </button>
    </div>
  </div>
</div>
