<div class="container-main">
  <header>
    <nav-bar-component></nav-bar-component>
  </header>
  <div class="container-son">
    <div class="container-title">
      <div class="container-img-cook">
        <img src="assets/img/Presentation.png" alt="" />
      </div>
      <div class="container-expressions">
        <p>
          ¡Comparte tu pasión por la cocina en CookChef! Si tienes una receta
          única y deliciosa, no pierdas la oportunidad de inspirar a otros
          amantes de la gastronomía.
        </p>
        <p>
          <span id="text-persuasive"
            >¡Muestra tu creatividad y deja que tus sabores conquisten a la
            comunidad!</span
          >
        </p>
      </div>
    </div>
    <form action="">
      <div class="b-info-main">
        <app-information-main
          *ngFor="let input of inputs"
          [titleAction]="input.referenceAction"
          [placeholder]="input.content"
        ></app-information-main>
      </div>
      <div class="box-information-additional">
        <div class="box-time">
          <div class="box-icon">
            <span class="material-icons"> watch_later </span>
          </div>
          <div>
            <p>Tiempo:</p>
          </div>
          <input type="text" />
          <p>min</p>
        </div>
        <div class="box-difficult">
          <div class="box-icon">
            <span class="material-icons"> signal_cellular_alt </span>
          </div>
          <div>
            <p>Dificultad:</p>
          </div>
          <select name="" id="option-dificult">
            <option value="Fácil">Fácil</option>
            <option value="Intermedio">Intermedio</option>
            <option value="Difícil">Difícil</option>
          </select>
        </div>
        <div class="box-diners">
          <div class="box-icon">
            <span class="material-icons"> group </span>
          </div>
          <div>
            <p>Porciones:</p>
          </div>
          <input type="text" />
        </div>
      </div>
      <div class="container-process">
        <app-process *ngFor="let item of process" [titleProcess]="item"></app-process>
      </div>
    </form>
  </div>
</div>
