.container-son {
  width: 90vw;
  min-height: 100vh;
  background: rgb(211, 211, 211);
  background: linear-gradient(
    260deg,
    rgba(211, 211, 211, 1) 0%,
    rgba(216, 216, 216, 1) 100%
  );
  margin-left: 5%;
  margin-top: 70px;
  margin-bottom: 100px;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 2px 1px 7px #9d9d9d;
}

.container-title {
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: rgb(200, 200, 200);
  background: linear-gradient(
    260deg,
    rgba(200, 200, 200, 1) 0%,
    rgba(204, 204, 204, 1) 100%
  );
  border-bottom: 2px dashed black;
}

.container-img-cook {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-img-cook img {
  width: 100%;
}

.container-expressions {
  width: 800px;
  height: 130px;
}

.container-expressions p {
  font-size: 23px;
  display: inline-block;
  margin-bottom: 30px;
}

#text-persuasive {
  font-weight: 900;
}

.b-info-main {
  width: 100%;
  height: 100px;
  margin-top: 60px;
  display: flex;
}

.box-information-additional {
  height: 70px;
  margin-top: 20px;
  padding-bottom: 120px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 2px dashed black;
}

.box-information-additional p {
  font-size: 20px;
}

.box-information-additional input {
  outline: none;
  width: 80px;
  padding: 5px;
  text-align: center;
  border: 1px solid #969696;
  border-radius: 30px;
}

#option-dificult {
  width: 100px;
  padding: 5px;
  text-align: center;
  outline: none;
  border: 1px solid #969696;
  border-radius: 30px;
}

.box-time,
.box-difficult,
.box-diners {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  gap: 10px;
}

.box-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-process {
  display: flex;
}

.box-reload-img {
  margin: 100px auto;
  width: 50%;
  height: 300px;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  border: 2px dashed black;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box-reload-img input:hover {
  cursor: pointer;
}

.box-reload-img input {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.box-references {
  margin-left: 320px;
  margin-top: 90px;
}

button {
  font-size: 15px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #969696;
  border-radius: 30px;
  background-color: #B9B9B9;
  margin: 50px auto;
}
